#container {
    display:flex;
    flex-direction: column;
    height:500px;
    width: 300px;
}

.input {
    color:black;
    padding-bottom: 15px;
}

.rollDice {
    font-size: large;
    margin-top: 20px;
}